# Ejercicio Regresion de SalePrice

## Configuraci√≥n inicial del notebook

### Carga las librer√≠as necesarias

In [123]:
import pandas as pd

### Carga el dataset

In [124]:
house_price = pd.read_csv('Data/train.csv')
house_price.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Analisis descriptivo
#### TODO: Por hacer - Migue

#### ¬øQu√© implica el an√°lisis descriptivo?

El an√°lisis descriptivo incluye tareas como:

---

##### üìä Visualizar la estructura del dataset:

- N√∫mero de filas y columnas.
- Tipos de datos (num√©ricos, texto, fechas, etc.).
- Nombres de las columnas.

---

##### üìà Resumir los datos estad√≠sticamente:

###### Para variables num√©ricas:
- Media, mediana, moda.
- M√≠nimo y m√°ximo.
- Rango intercuart√≠lico.
- Desviaci√≥n est√°ndar.

###### Para variables categ√≥ricas:
- Frecuencia de cada categor√≠a.
- Distribuci√≥n de clases.

---

##### üßº Detecci√≥n de valores faltantes o nulos:

- ¬øQu√© columnas tienen valores faltantes?
- ¬øQu√© porcentaje del dataset est√° incompleto?

---

##### üö® Identificaci√≥n de valores at√≠picos (outliers)

---

##### üñºÔ∏è Visualizaci√≥n b√°sica (opcional pero muy √∫til):

- Histogramas.
- Diagramas de caja (boxplots).
- Gr√°ficos de barras para variables categ√≥ricas.

## Encontrar los valores faltantes

Debido a que son un total de 81 columnas, vamos a filtrar las columnas en las que hay valores faltantes

In [125]:
columns_with_missing = house_price.isna().sum()[house_price.isna().sum() > 0]
columns_with_missing

LotFrontage      259
Alley           1369
MasVnrType       872
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

### Borrar columnas con muchos valores faltantes

Esto se puede hacer de varias maneras, pero en este caso vamos a eliminar las columnas que tienen m√°s del 80% de valores faltantes

In [126]:
threshold_colum = len(house_price) * 0.8
cols_to_drop = house_price.columns[house_price.isna().sum() > threshold_colum]
print(cols_to_drop)

Index(['Alley', 'PoolQC', 'Fence', 'MiscFeature'], dtype='object')

In [127]:
house_price.drop(columns=cols_to_drop, inplace=True)

In [128]:
missing_values_after_drop = house_price.isnull().sum()
columns_with_missing_after_drop = missing_values_after_drop[missing_values_after_drop > 0]
columns_with_missing_after_drop

LotFrontage     259
MasVnrType      872
MasVnrArea        8
BsmtQual         37
BsmtCond         37
BsmtExposure     38
BsmtFinType1     37
BsmtFinType2     38
Electrical        1
FireplaceQu     690
GarageType       81
GarageYrBlt      81
GarageFinish     81
GarageQual       81
GarageCond       81
dtype: int64

### Borrar filas con valores faltantes

## Encontrar el mejor modelo

### TODO: Buscar el mejor modelo para predecir el precio de venta

## Aplicanci√≥n del modelo

### TODO: Aplicar el modelo a los datos de train (house_price)